
.border { 
  width: 94%;
  height: 295px;
  position: relative;
  background-color: white;
  border-radius: 15px;  
  margin-left: 3%;
  margin-right: 3%;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 9px 9px rgba(0,0,0,0.45);
  transition: all .5s ease-in-out;
}
#title {
  font-size: 2em;
  font-weight: 100;
  color: #717FE0; 
  position: static;  
  margin-top: 15px;
  margin-bottom: 15px;
  text-shadow: 0 0 20px #8d99eb;
} 
#timer {
  font-size: 3em;
  font-weight: 100;
  color: #717FE0; 
  position: static;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-shadow: 0 0 20px #8d99eb;
}

#timer div {
  display: inline-block;
  min-width: 90px;
}

#timer div span {
  color: #717FE0;
  display: block;
  font-size: 0.35em;
  font-weight: 400;
}

@media screen and (max-width:900px) {

  #title{font-size: 16px;}
  #timer{font-size: 2em;}

}